.cardMessage__container {
  width: 85%;
  margin: 1rem auto;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}
.name {
  align-self: flex-start;
  font-size: 0.8rem;
  margin-left: 1rem;
}
.message {
  align-self: flex-start;

  margin-left: 1rem;
}
.message > p {
  margin: 0;
}
.time {
  align-self: flex-end;
  font-size: 0.5rem;
  margin-right: 1rem;
}
